@charset "ISO-8859-1";
body {
    background-image:
        url(https://www.smashingmagazine.com/files/wallpapers/mar-22/spring-is-coming/nocal/mar-22-spring-is-coming-nocal-1366x768.jpg);
    background-repeat: no-repeat;
    background-size: 1366px 768px;
    text-align: center;
}

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
    color: #8a0303;
}

.form label {
    font-family: Verdana, sans-serif;
    font-size: 30px;
    color: black;
}

.form input {
    width: 200px;
    height: 27px;
    font-size: 20px;
}

.list table {
    border-collapse: collapse;
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    border: 5px solid black;
    width: 100%;
}

.list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.list tr:hover {
    background-color:#8a0303;
}

.list th {
    background-color:#8a0303;
    color: white;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.list td {
    border: 1px solid black;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}